<mat-sidenav-container>
  <mat-sidenav #sidenav role="navigation">
    <tq-nav-list></tq-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <div fxHide.md fxHide.lg fxHide.xl>
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
      <div><a [routerLink]="['/']">Fitness Tracker</a></div>
      <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.sm fxHide.xs>
        <ul fxLayout fxLayoutGap="20px" class="navigation-items">
          <li><a [routerLink]="['/auth/signup']">Signup</a></li>
          <li><a [routerLink]="['/auth/login']">Login</a></li>
          <li><a [routerLink]="['/training']">Training</a></li>
          <li><a [routerLink]="['/auth/logout']">Logout</a></li>
        </ul>
      </div>
    </mat-toolbar>
    <main>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
